//align items center
.align-self-center {
  align-self:center;
}

//justify content space between
.j-space-between {
  justify-content:space-between;
}

//justify content center
.j-content-center {
  justify-content:center;
}

//items align center
.items-center {
  align-items:center;
}
