.arrow-up, .arrow-right, .arrow-down, .arrow-left {
  border-top-color:#000;
}
.button {
  padding-top:80px;
}
.arrow-line-v {
  height:40px;
  width:1px;
}
.arrow-line-h {
  height:1px;
  width:30px;
}
.arrow-h {
  margin-left:15px;
}
.arrow-up, .arrow-right, .arrow-down, .arrow-left {
  border-left:transparent;
  border-right:transparent;
  border-bottom:transparent;
  border-style:solid;
  border-width:4.5px;
}
.arrow-up {
  transform:rotate(180deg);
}
.arrow-right {
  transform:rotate(-90deg);
}
.arrow-left {
  transform:rotate(90deg);
}
.outline-btn {
  border:solid black 1px;
  padding:10px 15px;
}
.outline-btn:hover {
  background-color:black;
  opacity:1;
  color:#fff;
}
.outline-btn:hover .arrow-line-h {
    background-color:#fff;
    width:40px;
}
.outline-btn:hover  .arrow-right  {
    border-top-color:#fff;
}
.arrow-line-v {

}
