<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="no-js ensyspace">
  <head>
    <title>Ensyspace - Themes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<meta name="description" content="We creating a branding user experience design that will help your business grow isn't our sole aim. We are at ENSYSPACE, strongly believe in building a longterm relationship with our clients by providing customised support through our highly efficient workforce. Because it is your success that gives us the ultimate satisfaction!"/>
  	<meta name="keywords" content="Brand User Experience Design" />
  	<meta name="author" content="voddepelly sathish kumar" />
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  	<meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="dist/css/app.css" type="text/css" />


  </head>
  <body class="bgnd-light animation">
    <div class="header pstn-fxd bgnd-light" id="header">
      <hr class="spl-line pstn-abslt" />
      <div class="f-left">
        <div class="ensy-logo pstn-reltv">
          <svg width="140px" height="30px" viewBox="0 0 140 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-HD" transform="translate(-54.000000, -41.000000)">
                      <g id="Group-2" transform="translate(54.000000, 41.000000)">
                          <path d="M1.73009319,22 L8,22 L8,20 L0.853528539,20 C0.514574105,19.0410097 0.270372118,18.0372601 0.132171334,17 L13,17 L13,15 L-3.55271368e-15,15 C0,13.9726025 0.103290778,12.9693298 0.300054347,12 L20,12 L20,10 L0.853528539,10 C2.91271058,4.17403814 8.46890587,0 15,0 C23.2842712,0 30,6.71572875 30,15 C30,23.2842712 23.2842712,30 15,30 C9.24391218,30 4.24507995,26.7578034 1.73009319,22 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero"></path>
                          <text id="EnsySpace" font-family="AktivGrotesk-Bold, Aktiv Grotesk" font-size="18" font-weight="bold" fill="#2E2E2E">
                              <tspan x="45" y="22">EnsySpace</tspan>
                          </text>
                      </g>
                  </g>
              </g>
          </svg>
        </div>
      </div>
      <div class="f-right">
        <div class="hidden show-on-tablet-l f-right tablet-menu pstn-reltv">
          <div class="pstn-reltv hamburger dflex-default">
            <i class="icon-close pstn-abslt"></i>
            <div class="hamburger-inner pstn-reltv m-auto align-self-center">
              <span class="pstn-abslt bgnd-black"></span>
              <span class="pstn-abslt bgnd-black"></span>
              <span class="pstn-abslt bgnd-black"></span>
            </div>
          </div>
        </div>
        <div class="search f-left pstn-reltv">
          <span class="icon-search pstn-reltv f-left light touch-area-after"></span>
          <div class="pstn-reltv f-left input-group">
            <div class="pstn-abslt search-back hidden" style="right:10px;top:9px;">
              <i class="icon-close pstn-abslt" style="top:9px;right:9px;width:20px;height:20px;"></i>
            </div>
            <span class="icon-search pstn-reltv align-self-center f-left dark"></span>
            <input type="text" placeholder="Search here for the components" class="fw-400 input-search" />
          </div>
        </div>
        <span class="pipe f-left pstn-reltv"></span>
        <div class="download-build f-left">
          <span class="f-left pstn-reltv"></span>
          <a href="##" class="pstn-reltv fw-600 txt-link f-left">Download</a>
        </div>
      </div>
    </div>

    <!-- Sidemenu  -->
    <div class="sidebar pstn-fxd">
      <span class="extrsa-line-v pstn-abslt"></span>
      <div class="sidemenu-inner pstn-reltv">
        <div class="items-group pstn-reltv">
          <div class="items-title pstn-reltv p-l-40 cursor-p transition pstn-sticky">
            <h6 class="pstn-reltv">Getting Started</h6>
          </div>
          <div class="items-inner p-l-40 hidden">
            <a href="##" class="dblock pstn-reltv o-hidden">Introduction</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Download</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Contents</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Intros</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Browsers & devices</a>
            <a href="##" class="dblock pstn-reltv o-hidden">JavaScript</a>
          </div>
        </div>
        <div class="items-group pstn-reltv">
          <div class="items-title pstn-reltv p-l-40 cursor-p transition pstn-sticky">
            <h6 class="pstn-reltv">Design Resources</h6>
          </div>
          <div class="items-inner p-l-40 hidden">
            <a href="##" class="dblock pstn-reltv o-hidden">Introduction</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Download</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Contents</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Intros</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Browsers & devices</a>
            <a href="##" class="dblock pstn-reltv o-hidden">JavaScript</a>
          </div>
        </div>
        <div class="items-group pstn-reltv items-group-active nav-components-items">
          <div class="items-title pstn-reltv p-l-40 cursor-p transition pstn-sticky">
            <h6 class="pstn-reltv">HTML Components</h6>
          </div>
          <div class="items-inner p-l-40">
            <a href="##" class="dblock pstn-reltv o-hidden"><span class=""></span>Introduction</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Download</a>
            <a href="##" class="dblock pstn-reltv o-hidden item-active">Contents</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Intros</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Browsers & devices</a>
            <a href="##" class="dblock pstn-reltv o-hidden">JavaScript</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Theming</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Build tools</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Build tools</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Webpack</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Accessibility</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Layout</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Content</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Components</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Utilities</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Extend</a>
            <a href="##" class="dblock pstn-reltv o-hidden">Migration</a>
            <a href="##" class="dblock pstn-reltv o-hidden">About</a>
          </div>
        </div>
      </div>
      <div class="pstn-abslt p-l-50 social-links bgnd-light">
        <hr />
        <div class="p-t-20 clear">
          <a href="https://github.com/ensyspace" target="_blank" class="inblock f-left"><img src="src/images/github.svg" alt="Github" /></a>
          <a href="https://twitter.com/ensyspace" target="_blank" class="inblock f-left"><img src="src/images/twitter.svg" alt="Twitter" /></a>
          <a href="https://www.facebook.com/ensyspace" target="_blank" class="inblock f-left"><img src="src/images/facebook.svg" alt="facebook" /></a>
        </div>
        <div class="hide-in-mobile show-on-tablet-l hidden">
          <div class="pstn-abslt close-sidemenu justify-content-center dflex-default text-align-center">
            <i class="icon-close align-self-center"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Components  -->
    <div class="main-wrapper content-space-between pstn-reltv m-gutters">
      <div class="pstn-fxd on-scroll-nav txt-white clear">
        <div class="f-left">
          <span class="fw-600">Demo - Hotel ratings</span>
        </div>
        <div class="f-right pstn-reltv dflex-default">
          <div class="inblock align-self-center">
            <a href="##" class="inblock txt-white i-want-this fw-200 dflex-default">
              <span>I need this component</span>
              <span class="pstn-reltv dgrid align-self-center icon-group p-l-10 arrow-down-both">
                <span class="line-v m-auto"></span>
                <span class="arrow-down arrow pstn-reltv"></span>
              </span>
            </a>
          </div>
          <span class="pipe pstn-reltv align-self-center"></span>
          <div class="pstn-abslt dropdown f-right">
            <div class="dots pstn-reltv d-button cursor-p light dflex-default">
               <div class="dots-inner clear m-auto align-self-center">
                 <span class="f-left pstn-reltv"></span>
                 <span class="f-left pstn-reltv"></span>
                 <span class="f-left pstn-reltv"></span>
               </div>
            </div>
            <div class="menu-outer pstn-abslt">
              <div class="menu-items pstn-reltv">
                <div class="max-height">
                  <a href="##" class="dblock pstn-reltv o-hidden">Introduction</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Download</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Contents</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Intros</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Browsers & devices</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">JavaScript</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Theming</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Build tools</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Build tools</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Webpack</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Accessibility</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Layout</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Content</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Components</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Utilities</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Extend</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">Migration</a>
                  <a href="##" class="dblock pstn-reltv o-hidden">About</a>
                </div>
              </div>
              <div class="pstn-abslt mask-zoom bgnd-white d-shadow "></div>
            </div>
          </div>
        </div>
      </div>
      <div class="inner-wrapper pstn-reltv">
        <div class="component-title">
          <div class="hidden show-on-mobile-l">
            <div class="dots pstn-abslt d-button cursor-p light dflex-default">
               <div class="dots-inner clear m-auto align-self-center">
                 <span class="f-left pstn-reltv"></span>
                 <span class="f-left pstn-reltv"></span>
                 <span class="f-left pstn-reltv"></span>
               </div>
            </div>
          </div>
          <h4 class="fw-600 pstn-reltv transition">Modal Popups</h4>
        </div>
        <div class="p-b-50 tabs-outer">
          <div class="tabs f-left p-t-10">
            <span class="active-tab pstn-reltv" data-tab="preview">Preview</span>
            <span class="pstn-reltv" data-tab="snippets">Snippets</span>
            <span class="pstn-reltv tab-responsive" data-tab="responsiveness">Responsiveness</span>
          </div>
          <div class="buttons-right f-right">
            <div class="inblock m-r-20 btn-i-need-this">
              <a href="##" class="btn-solid txt-white inblock dflex-default button fw-300 icon-arrow-down arrow-down-both transition">
                  <span>I need this component</span>
                  <span class="pstn-reltv dgrid align-self-center icon-group p-l-10">
                    <span class="line-v m-auto"></span>
                    <span class="arrow-down arrow pstn-reltv"></span>
                  </span>
              </a>
            </div>
            <div class="inblock btn-sub-options">
              <div class="btn-outline inblock dflex-default button fw-300 cursor-p transition">
                <span class="align-self-center">Jump to</span>
                <span class="arrow-down arrow pstn-reltv align-self-center m-l-10"></span>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <hr class="b-type-solid"/>
        <div class="components content-slideup">
          <div class="components-inner tab-content tab-content-open pstn-reltv" id="preview">
            <div class="dflex-default">
              <div>
                fsdfskjdf


            </div>
          </div>
          <div class="tab-content pstn-reltv" id="snippets">
            <div class="p-t-50">
              <div class="inblock button-group">
                <a href="##" class="btn-solid dflex-default button fw-300 align-self-center txt-white transition">
                    <span>Show me more</span>
                    <span class="dflex-default align-items-center p-l-10">
                      <span class="line-h"></span>
                      <span class="triangular-right triangular"></span>
                    </span>
                </a>
              </div>
              <div class="inblock button-group">
                <a href="##" class="btn-outline dflex-default button fw-300 align-self-center transition">
                    <span>Show me more</span>
                    <span class="dflex-default align-items-center p-l-10">
                      <span class="line-h"></span>
                      <span class="triangular-right triangular"></span>
                    </span>
                </a>
              </div>
              <div class="inblock button-group">
                <a href="##" class="btn-solid inblock dflex-default button fw-300 txt-white icon-arrow-down arrow-down-both transition">
                    <span>Download File</span>
                    <span class="pstn-reltv dgrid align-self-center icon-group p-l-10">
                      <span class="line-v m-auto"></span>
                      <span class="arrow-down arrow pstn-reltv"></span>
                    </span>
                </a>
              </div>
              <div class="inblock button-group">
                <a href="##" class="btn-outline inblock dflex-default button fw-300 icon-arrow-down arrow-down-both transition">
                    <span class="p-r-10">Download File</span>
                    <span class="pstn-reltv dgrid align-self-center icon-group">
                      <span class="line-v m-auto"></span>
                      <span class="arrow-down arrow pstn-reltv"></span>
                    </span>
                </a>
              </div>
              <div class="inblock button-group">
                <a href="##" class="btn-outline inblock dflex-default button fw-300 transition">
                    <span class="p-r-10">Upload File</span>
                    <span class="pstn-reltv dgrid align-self-center icon-group">
                      <span class="arrow-up arrow pstn-reltv"></span>
                      <span class="line-v line-up m-auto pstn-reltv"></span>
                    </span>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-content pstn-reltv" id="responsiveness">
            <div class="inblock fw-200 dropdown pstn-reltv">
              <div class="d-title pstn-reltv d-button clear txt-white cursor-p">
                <span class="f-left">Select Versions</span>
                <span class="arrow-down arrow pstn-reltv f-right"></span>
              </div>
              <div class="d-menu pstn-abslt hidden">
                <div class="menu-items pstn-reltv">
                  <div class="max-height">
                    <a href="##" class="dblock">Intro version 1</a>
                    <a href="##" class="dblock">Intro version 2</a>
                    <a href="##" class="dblock">Intro version 3</a>
                    <a href="##" class="dblock">Intro version 4</a>
                    <a href="##" class="dblock">Intro version 1</a>
                    <a href="##" class="dblock">Intro version 2</a>
                    <a href="##" class="dblock">Intro version 3</a>
                    <a href="##" class="dblock">Intro version 4</a>
                    <a href="##" class="dblock">Intro version 1</a>
                    <a href="##" class="dblock">Intro version 2</a>
                    <a href="##" class="dblock">Intro version 3</a>
                    <a href="##" class="dblock">Intro version 4</a>
                    <a href="##" class="dblock">Intro version 1</a>
                    <a href="##" class="dblock">Intro version 2</a>
                    <a href="##" class="dblock">Intro version 3</a>
                    <a href="##" class="dblock">Intro version 4</a>
                  </div>
                </div>
                <div class="pstn-abslt mask-zoom bgnd-white d-shadow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>
  <script src="src/jquery.min.js"></script>
  <script src="dist/js/app.js" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
</html>
