.bullet-points {
  ul {
    line-height:25px;
    li {
      position:relative;
      list-style:none;
      &:before {
        @include pseudo();
        width:12px;
        height:12px;
        margin-right:10px;
        @include border-radius(100px);
        border:solid $b-theme 1px;
      }
    }
  }
}
