a:hover:not(.button),
a:hover:not(a.item-active) {
  opacity:0.6;
}
a,
a:hover,
a:focus {
  text-decoration:none;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}
a {
  color:$txt-black;
}
