.bgnd-black {
  background-color:$bgnd-black;
}
.bgnd-white {
  background-color:$bgnd-white;
}
.bgnd-yellow {
  background-color:$orange-yellow;
}
.bgnd-light {
  background-color:$bgnd-light;
}
.bgnd-dark {
  background-color:$bgnd-dark;
}
