.txt-small,.font-12 {
  font-size:12px;
}
.txt-link,.font-16 {
  font-size:16px;
}
h1,.h1,.font-44 {
  font-size:44px;
}
h2,.h2,.font-30 {
  font-size:30px;
}
h3,.h3,.font-28 {
  font-size:28px;
}
h4,.h4,.font-24 {
  font-size:24px;
}
h5,.h5,.font-18 {
  font-size:18px;
}
h6,.h6,.font-16 {
  font-size:16px;
}

.txt-medium {
  font-size:15px;
}

//special case font-size 22px
.font-22 {
  font-size:22px;
}
