.margin-1 {
  margin:1px;
}
.margin-2 {
  margin:2px;
}
.margin-4 {
  margin:4px;
}
.margin-6 {
  margin:6px;
}
.margin-8 {
  margin:8px;
}
.margin-10 {
  margin:10px;
}
.margin-12 {
  margin:12px;
}
.margin-auto {
  margin:0 auto;
}

.margin-top-2 {
  margin-top:2px;
}
