.img-object-contain {
  object-fit:contain;
}
.img-object-cover {
  object-fit:cover;
}
.img-object-fill {
  object-fit:fill;
}
.img-object-none {
  object-fit:none;
}
.img-object-down	{
  object-fit:scale-down;
}
