.txt-white {
  color:$txt-white;
}
.txt-black {
  color:$txt-black;
}
.txt-red {
  color:$txt-red;
}
.txt-green {
  color:$txt-green;
}
.txt-yellow {
  color:$txt-yellow;
}
.txt-opacity {
  opacity:0.6;
}
