.zindex-0 {
  z-index:0;
}
.zindex-2	{
  z-index:2;
}
.zindex-4	{
  z-index:4;
}
.zindex-6	{
  z-index:6;
}
.zindex-8	{
  z-index:8;
}
.zindex-10	{
  z-index:10;
}
.zindex-12	{
  z-index:12;
}
.zindex-auto	{
  z-index:auto;
}
